In [1]:
import datetime as dt
import yfinance as yf
import pandas as pd

In [5]:
stocks = ["AMZN", "MSFT", "FB", "GOOG"]

In [6]:
start = dt.datetime.today() - dt.timedelta(3650)
end = dt.datetime.today()
cl_price = pd.DataFrame() # empty dataframe which will be filled with closing prices of each stock

In [7]:
# looping over tickers and creating a dataframe with close prices
for ticker in stocks:
    cl_price[ticker] = yf.download(ticker,start,end)["Adj Close"]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [10]:
cl_price.head(50)

                  AMZN       MSFT  FB        GOOG
Date
2011-01-25  176.699997  22.619738 NaN  308.797546
2011-01-26  175.389999  22.882114 NaN  307.098907
2011-01-27  184.449997  22.953665 NaN  307.243378
2011-01-28  171.139999  22.063190 NaN  299.372864
2011-01-31  169.639999  22.047285 NaN  299.059052
2011-02-01  172.110001  22.254007 NaN  304.379120
2011-02-02  173.529999  22.214251 NaN  304.857330
2011-02-03  173.710007  21.983683 NaN  303.935760
2011-02-04  175.929993  22.079086 NaN  304.349213
2011-02-07  176.429993  22.420967 NaN  305.998047
2011-02-08  183.059998  22.484573 NaN  308.035400
2011-02-09  185.300003  22.238104 NaN  307.098907
2011-02-10  186.210007  21.864422 NaN  307.069031
2011-02-11  189.250000  21.665649 NaN  311.083984
2011-02-14  190.419998  21.649748 NaN  312.902161
2011-02-15  189.029999  21.561775 NaN  310.909637
2011-02-16  186.619995  21.609766 NaN  310.944489
2011-02-17  187.759995  21.761717 NaN  311.462555
2011-02-18  186.500000  21.641756 NaN  313.863556
2011-02-22  180.419998  21.265869 NaN  303.965668
2011-02-23  176.679993  21.265869 NaN  304.518585
2011-02-24  177.750000  21.409822 NaN  303.273254
2011-02-25  177.240005  21.233870 NaN  303.880981
2011-02-28  173.289993  21.257864 NaN  305.554718
2011-03-01  169.440002  20.921961 NaN  299.258301
2011-03-02  172.020004  20.857983 NaN  299.273254
2011-03-03  172.789993  20.953953 NaN  303.641876
2011-03-04  171.669998  20.754011 NaN  299.188568
2011-03-07  169.080002  20.570063 NaN  294.725311
2011-03-08  166.889999  20.722019 NaN  295.049072
2011-03-09  169.050003  20.706024 NaN  294.780090
2011-03-10  166.139999  20.322134 NaN  289.066498
2011-03-11  168.070007  20.538071 NaN  287.278198
2011-03-14  166.729996  20.546074 NaN  283.930756
2011-03-15  165.080002  20.306141 NaN  283.716553
2011-03-16  164.699997  19.826281 NaN  277.509827
2011-03-17  160.970001  19.818285 NaN  279.631866
2011-03-18  161.820007  19.834274 NaN  279.482422
2011-03-21  164.520004  20.258160 NaN  287.173615
2011-03-22  162.600006  20.234156 NaN  287.582062
2011-03-23  165.320007  20.426109 NaN  289.993042
2011-03-24  171.100006  20.642036 NaN  292.349213
2011-03-25  170.979996  20.490082 NaN  288.787567
2011-03-28  169.350006  20.322134 NaN  286.605743
2011-03-29  174.619995  20.386112 NaN  289.778839
2011-03-30  179.419998  20.482088 NaN  289.833618
2011-03-31  180.130005  20.306141 NaN  292.284454
2011-04-01  180.130005  20.378122 NaN  294.795044
2011-04-04  182.940002  20.434103 NaN  292.742737
2011-04-05  185.289993  20.618052 NaN  283.482452

In [11]:
# filling NaN values
cl_price.fillna(method='bfill',axis=0,inplace=True)

In [12]:
cl_price.head(50)

                  AMZN       MSFT     FB        GOOG
Date
2011-01-25  176.699997  22.619738  38.23  308.797546
2011-01-26  175.389999  22.882114  38.23  307.098907
2011-01-27  184.449997  22.953665  38.23  307.243378
2011-01-28  171.139999  22.063190  38.23  299.372864
2011-01-31  169.639999  22.047285  38.23  299.059052
2011-02-01  172.110001  22.254007  38.23  304.379120
2011-02-02  173.529999  22.214251  38.23  304.857330
2011-02-03  173.710007  21.983683  38.23  303.935760
2011-02-04  175.929993  22.079086  38.23  304.349213
2011-02-07  176.429993  22.420967  38.23  305.998047
2011-02-08  183.059998  22.484573  38.23  308.035400
2011-02-09  185.300003  22.238104  38.23  307.098907
2011-02-10  186.210007  21.864422  38.23  307.069031
2011-02-11  189.250000  21.665649  38.23  311.083984
2011-02-14  190.419998  21.649748  38.23  312.902161
2011-02-15  189.029999  21.561775  38.23  310.909637
2011-02-16  186.619995  21.609766  38.23  310.944489
2011-02-17  187.759995  21.761717  38.23  311.462555
2011-02-18  186.500000  21.641756  38.23  313.863556
2011-02-22  180.419998  21.265869  38.23  303.965668
2011-02-23  176.679993  21.265869  38.23  304.518585
2011-02-24  177.750000  21.409822  38.23  303.273254
2011-02-25  177.240005  21.233870  38.23  303.880981
2011-02-28  173.289993  21.257864  38.23  305.554718
2011-03-01  169.440002  20.921961  38.23  299.258301
2011-03-02  172.020004  20.857983  38.23  299.273254
2011-03-03  172.789993  20.953953  38.23  303.641876
2011-03-04  171.669998  20.754011  38.23  299.188568
2011-03-07  169.080002  20.570063  38.23  294.725311
2011-03-08  166.889999  20.722019  38.23  295.049072
2011-03-09  169.050003  20.706024  38.23  294.780090
2011-03-10  166.139999  20.322134  38.23  289.066498
2011-03-11  168.070007  20.538071  38.23  287.278198
2011-03-14  166.729996  20.546074  38.23  283.930756
2011-03-15  165.080002  20.306141  38.23  283.716553
2011-03-16  164.699997  19.826281  38.23  277.509827
2011-03-17  160.970001  19.818285  38.23  279.631866
2011-03-18  161.820007  19.834274  38.23  279.482422
2011-03-21  164.520004  20.258160  38.23  287.173615
2011-03-22  162.600006  20.234156  38.23  287.582062
2011-03-23  165.320007  20.426109  38.23  289.993042
2011-03-24  171.100006  20.642036  38.23  292.349213
2011-03-25  170.979996  20.490082  38.23  288.787567
2011-03-28  169.350006  20.322134  38.23  286.605743
2011-03-29  174.619995  20.386112  38.23  289.778839
2011-03-30  179.419998  20.482088  38.23  289.833618
2011-03-31  180.130005  20.306141  38.23  292.284454
2011-04-01  180.130005  20.378122  38.23  294.795044
2011-04-04  182.940002  20.434103  38.23  292.742737
2011-04-05  185.289993  20.618052  38.23  283.482452

In [13]:
#dropping NaN values
cl_price.dropna(axis=0,how='any')

                   AMZN        MSFT          FB         GOOG
Date
2011-01-25   176.699997   22.619738   38.230000   308.797546
2011-01-26   175.389999   22.882114   38.230000   307.098907
2011-01-27   184.449997   22.953665   38.230000   307.243378
2011-01-28   171.139999   22.063190   38.230000   299.372864
2011-01-31   169.639999   22.047285   38.230000   299.059052
...                 ...         ...         ...          ...
2021-01-14  3127.469971  213.020004  245.639999  1740.180054
2021-01-15  3104.250000  212.649994  251.360001  1736.189941
2021-01-19  3120.760010  216.440002  261.100006  1790.859985
2021-01-20  3263.379883  224.339996  267.480011  1886.900024
2021-01-21  3306.989990  224.970001  272.869995  1891.250000

[2515 rows x 4 columns]