In [1]:
# Import OHLCV data and perform basic data operations

In [2]:
import datetime as dt
import yfinance as yf
import pandas as pd

In [3]:
# Download historical data for required stocks
tickers = ["MSFT","AMZN","AAPL","CSCO","IBM","FB"]

In [4]:
start = dt.datetime.today()-dt.timedelta(3650)
end = dt.datetime.today()
close_prices = pd.DataFrame() # empty dataframe which will be filled with closing prices of each stock

In [5]:
# looping over tickers and creating a dataframe with close prices
for ticker in tickers:
    close_prices[ticker] = yf.download(ticker,start,end)["Adj Close"]

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [6]:
close_prices.head(50)

                 MSFT        AMZN       AAPL       CSCO         IBM  FB
Date
2011-01-25  22.619738  176.699997  10.518178  16.108297  114.485573 NaN
2011-01-26  22.882114  175.389999  10.593659  16.018557  114.201920 NaN
2011-01-27  22.953665  184.449997  10.573944  16.033512  114.223190 NaN
2011-01-28  22.063190  171.139999  10.354892  15.652121  112.904167 NaN
2011-01-31  22.047285  169.639999  10.454096  15.816643  114.882721 NaN
2011-02-01  22.254007  172.110001  10.630016  16.055946  115.988998 NaN
2011-02-02  22.214251  173.529999  10.608141  16.168119  115.804634 NaN
2011-02-03  21.983683  173.710007  10.581032  16.384993  115.967697 NaN
2011-02-04  22.079086  175.929993  10.675306  16.489693  116.301033 NaN
2011-02-07  22.420967  176.429993  10.841055  16.474735  116.882576 NaN
2011-02-08  22.484573  183.059998  10.943342  16.444824  118.221001 NaN
2011-02-09  22.238104  185.300003  11.034535  16.482220  117.224274 NaN
2011-02-10  21.864422  186.210007  10.923009  14.148978  116.825569 NaN
2011-02-11  21.665649  189.250000  10.994177  13.984454  116.654716 NaN
2011-02-14  21.649748  190.419998  11.065962  14.066715  116.206200 NaN
2011-02-15  21.561775  189.029999  11.088144  13.962016  115.935593 NaN
2011-02-16  21.609766  186.619995  11.187657  13.894714  116.334297 NaN
2011-02-17  21.761717  187.759995  11.038851  13.969498  116.932350 NaN
2011-02-18  21.641756  186.500000  10.800391  14.096630  117.359505 NaN
2011-02-22  21.265869  180.419998  10.432225  13.902194  115.301971 NaN
2011-02-23  21.265869  176.679993  10.555768  13.760107  114.041817 NaN
2011-02-24  21.409822  177.750000  10.563777  13.730191  114.461845 NaN
2011-02-25  21.233870  177.240005  10.726447  13.939585  115.536903 NaN
2011-02-28  21.257864  173.289993  10.882033  13.879755  115.252159 NaN
2011-03-01  20.921961  169.440002  10.761879  13.879755  113.892281 NaN
2011-03-02  20.857983  172.020004  10.848451  13.834889  114.027603 NaN
2011-03-03  20.953953  172.789993  11.077671  13.857322  116.391235 NaN
2011-03-04  20.754011  171.669998  11.091225  13.760107  115.216499 NaN
2011-03-07  20.570063  169.080002  10.948271  13.610544  113.863800 NaN
2011-03-08  20.722019  166.889999  10.960596  13.625493  115.536903 NaN
2011-03-09  20.706024  169.050003  10.859233  13.550714  118.085724 NaN
2011-03-10  20.322134  166.139999  10.680540  13.401149  115.351761 NaN
2011-03-11  20.538071  168.070007  10.844445  13.423575  115.643677 NaN
2011-03-14  20.546074  166.729996  10.892817  13.348792  114.903267 NaN
2011-03-15  20.306141  165.080002  10.642338  13.004794  113.215973 NaN
2011-03-16  19.826281  164.699997  10.167266  12.750531  108.929886 NaN
2011-03-17  19.818285  160.970001  10.309907  12.713141  109.770004 NaN
2011-03-18  19.834274  161.820007  10.187600  12.817838  110.987503 NaN
2011-03-21  20.258160  164.520004  10.453480  13.004794  112.261909 NaN
2011-03-22  20.234156  162.600006  10.512018  13.049664  112.489723 NaN
2011-03-23  20.426109  165.320007  10.450090  13.146883  113.579025 NaN
2011-03-24  20.642036  171.100006  10.628169  12.982362  113.942085 NaN
2011-03-25  20.490082  170.979996  10.830583  12.922533  115.465744 NaN
2011-03-28  20.322134  169.350006  10.796691  12.855228  114.889008 NaN
2011-03-29  20.386112  174.619995  10.812714  13.087867  115.964096 NaN
2011-03-30  20.482088  179.419998  10.740929  13.005318  116.476715 NaN
2011-03-31  20.306141  180.130005  10.737231  12.870238  116.099373 NaN
2011-04-01  20.378122  180.130005  10.615538  12.787688  116.953705 NaN
2011-04-04  20.434103  182.940002  10.511710  12.802698  116.939476 NaN
2011-04-05  20.618052  185.289993  10.440847  12.922769  116.754349 NaN

In [7]:
close_prices.fillna(method='bfill',axis=0,inplace=True) #replace NaN values using backfill method
close_prices.dropna(axis=0,inplace=True) #drop row containing any NaN value
close_prices.head(50)

                 MSFT        AMZN       AAPL       CSCO         IBM     FB
Date
2011-01-25  22.619738  176.699997  10.518178  16.108297  114.485573  38.23
2011-01-26  22.882114  175.389999  10.593659  16.018557  114.201920  38.23
2011-01-27  22.953665  184.449997  10.573944  16.033512  114.223190  38.23
2011-01-28  22.063190  171.139999  10.354892  15.652121  112.904167  38.23
2011-01-31  22.047285  169.639999  10.454096  15.816643  114.882721  38.23
2011-02-01  22.254007  172.110001  10.630016  16.055946  115.988998  38.23
2011-02-02  22.214251  173.529999  10.608141  16.168119  115.804634  38.23
2011-02-03  21.983683  173.710007  10.581032  16.384993  115.967697  38.23
2011-02-04  22.079086  175.929993  10.675306  16.489693  116.301033  38.23
2011-02-07  22.420967  176.429993  10.841055  16.474735  116.882576  38.23
2011-02-08  22.484573  183.059998  10.943342  16.444824  118.221001  38.23
2011-02-09  22.238104  185.300003  11.034535  16.482220  117.224274  38.23
2011-02-10  21.864422  186.210007  10.923009  14.148978  116.825569  38.23
2011-02-11  21.665649  189.250000  10.994177  13.984454  116.654716  38.23
2011-02-14  21.649748  190.419998  11.065962  14.066715  116.206200  38.23
2011-02-15  21.561775  189.029999  11.088144  13.962016  115.935593  38.23
2011-02-16  21.609766  186.619995  11.187657  13.894714  116.334297  38.23
2011-02-17  21.761717  187.759995  11.038851  13.969498  116.932350  38.23
2011-02-18  21.641756  186.500000  10.800391  14.096630  117.359505  38.23
2011-02-22  21.265869  180.419998  10.432225  13.902194  115.301971  38.23
2011-02-23  21.265869  176.679993  10.555768  13.760107  114.041817  38.23
2011-02-24  21.409822  177.750000  10.563777  13.730191  114.461845  38.23
2011-02-25  21.233870  177.240005  10.726447  13.939585  115.536903  38.23
2011-02-28  21.257864  173.289993  10.882033  13.879755  115.252159  38.23
2011-03-01  20.921961  169.440002  10.761879  13.879755  113.892281  38.23
2011-03-02  20.857983  172.020004  10.848451  13.834889  114.027603  38.23
2011-03-03  20.953953  172.789993  11.077671  13.857322  116.391235  38.23
2011-03-04  20.754011  171.669998  11.091225  13.760107  115.216499  38.23
2011-03-07  20.570063  169.080002  10.948271  13.610544  113.863800  38.23
2011-03-08  20.722019  166.889999  10.960596  13.625493  115.536903  38.23
2011-03-09  20.706024  169.050003  10.859233  13.550714  118.085724  38.23
2011-03-10  20.322134  166.139999  10.680540  13.401149  115.351761  38.23
2011-03-11  20.538071  168.070007  10.844445  13.423575  115.643677  38.23
2011-03-14  20.546074  166.729996  10.892817  13.348792  114.903267  38.23
2011-03-15  20.306141  165.080002  10.642338  13.004794  113.215973  38.23
2011-03-16  19.826281  164.699997  10.167266  12.750531  108.929886  38.23
2011-03-17  19.818285  160.970001  10.309907  12.713141  109.770004  38.23
2011-03-18  19.834274  161.820007  10.187600  12.817838  110.987503  38.23
2011-03-21  20.258160  164.520004  10.453480  13.004794  112.261909  38.23
2011-03-22  20.234156  162.600006  10.512018  13.049664  112.489723  38.23
2011-03-23  20.426109  165.320007  10.450090  13.146883  113.579025  38.23
2011-03-24  20.642036  171.100006  10.628169  12.982362  113.942085  38.23
2011-03-25  20.490082  170.979996  10.830583  12.922533  115.465744  38.23
2011-03-28  20.322134  169.350006  10.796691  12.855228  114.889008  38.23
2011-03-29  20.386112  174.619995  10.812714  13.087867  115.964096  38.23
2011-03-30  20.482088  179.419998  10.740929  13.005318  116.476715  38.23
2011-03-31  20.306141  180.130005  10.737231  12.870238  116.099373  38.23
2011-04-01  20.378122  180.130005  10.615538  12.787688  116.953705  38.23
2011-04-04  20.434103  182.940002  10.511710  12.802698  116.939476  38.23
2011-04-05  20.618052  185.289993  10.440847  12.922769  116.754349  38.23

In [8]:
daily_return = close_prices.pct_change() # Creates dataframe with daily return for each stock" are missing
daily_return.head()

                MSFT      AMZN      AAPL      CSCO       IBM   FB
Date
2011-01-25       NaN       NaN       NaN       NaN       NaN  NaN
2011-01-26  0.011599 -0.007414  0.007176 -0.005571 -0.002478  0.0
2011-01-27  0.003127  0.051656 -0.001861  0.000934  0.000186  0.0
2011-01-28 -0.038794 -0.072160 -0.020716 -0.023787 -0.011548  0.0
2011-01-31 -0.000721 -0.008765  0.009580  0.010511  0.017524  0.0

In [9]:
# Rolling mean and standard deviation
daily_return.rolling(window=20).mean() # simple moving average

                MSFT      AMZN      AAPL      CSCO       IBM        FB
Date
2011-01-25       NaN       NaN       NaN       NaN       NaN       NaN
2011-01-26       NaN       NaN       NaN       NaN       NaN       NaN
2011-01-27       NaN       NaN       NaN       NaN       NaN       NaN
2011-01-28       NaN       NaN       NaN       NaN       NaN       NaN
2011-01-31       NaN       NaN       NaN       NaN       NaN       NaN
...              ...       ...       ...       ...       ...       ...
2021-01-15 -0.001451 -0.002057 -0.000080  0.001222  0.001181 -0.004438
2021-01-19 -0.000592 -0.001716 -0.000157  0.000846  0.001426 -0.002284
2021-01-20  0.001422  0.001101  0.002278  0.000320  0.001717 -0.001412
2021-01-21  0.000648  0.001698  0.003491  0.000683  0.003298  0.000248
2021-01-22  0.000940  0.001517  0.001684  0.000091 -0.001715  0.001645

[2516 rows x 6 columns]

In [10]:
daily_return.rolling(window=20).std()

                MSFT      AMZN      AAPL      CSCO       IBM        FB
Date
2011-01-25       NaN       NaN       NaN       NaN       NaN       NaN
2011-01-26       NaN       NaN       NaN       NaN       NaN       NaN
2011-01-27       NaN       NaN       NaN       NaN       NaN       NaN
2011-01-28       NaN       NaN       NaN       NaN       NaN       NaN
2011-01-31       NaN       NaN       NaN       NaN       NaN       NaN
...              ...       ...       ...       ...       ...       ...
2021-01-15  0.013191  0.014172  0.019627  0.007915  0.011386  0.018769
2021-01-19  0.013876  0.014268  0.019601  0.008042  0.011412  0.021108
2021-01-20  0.016129  0.017589  0.020551  0.007472  0.011512  0.021859
2021-01-21  0.015641  0.017802  0.021855  0.006986  0.010571  0.022186
2021-01-22  0.015801  0.017837  0.021164  0.007870  0.025107  0.021658

[2516 rows x 6 columns]

In [11]:
daily_return.ewm(span=20,min_periods=20).mean() # exponential moving average

                MSFT      AMZN      AAPL      CSCO       IBM        FB
Date
2011-01-25       NaN       NaN       NaN       NaN       NaN       NaN
2011-01-26       NaN       NaN       NaN       NaN       NaN       NaN
2011-01-27       NaN       NaN       NaN       NaN       NaN       NaN
2011-01-28       NaN       NaN       NaN       NaN       NaN       NaN
2011-01-31       NaN       NaN       NaN       NaN       NaN       NaN
...              ...       ...       ...       ...       ...       ...
2021-01-15 -0.002033 -0.002096 -0.001308  0.001957  0.001554 -0.004710
2021-01-19 -0.000142 -0.001390 -0.000667  0.001268  0.001873 -0.000571
2021-01-20  0.003347  0.003095  0.002526  0.001463  0.002478  0.001810
2021-01-21  0.003296  0.004073  0.005777  0.000841  0.003391  0.003557
2021-01-22  0.004117  0.003351  0.004496 -0.000770 -0.006311  0.003888

[2516 rows x 6 columns]

In [12]:
daily_return.ewm(span=20,min_periods=20).std()

                MSFT      AMZN      AAPL      CSCO       IBM        FB
Date
2011-01-25       NaN       NaN       NaN       NaN       NaN       NaN
2011-01-26       NaN       NaN       NaN       NaN       NaN       NaN
2011-01-27       NaN       NaN       NaN       NaN       NaN       NaN
2011-01-28       NaN       NaN       NaN       NaN       NaN       NaN
2011-01-31       NaN       NaN       NaN       NaN       NaN       NaN
...              ...       ...       ...       ...       ...       ...
2021-01-15  0.013443  0.014234  0.019524  0.008259  0.012422  0.020054
2021-01-19  0.014116  0.013722  0.018681  0.008153  0.011859  0.023134
2021-01-20  0.017380  0.019274  0.020437  0.007780  0.011441  0.023258
2021-01-21  0.016532  0.018592  0.021990  0.007657  0.011259  0.022801
2021-01-22  0.015938  0.017832  0.021305  0.008888  0.032496  0.021714

[2516 rows x 6 columns]